# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Other Ignores
.idea
*.ipr
*.iml
*.iws
quickstart/gradle/libs/
server_script/maven/
server_script/tmp/
.vscode
.DS_Store
out
bin/
.settings/
.project
.classpath

xcode*
.DS_Store
src/mlpack/core/util/gitversion.hpp
src/mlpack/core/util/arma_config.hpp
.idea
cmake-build-*
*.pyc

.gradle
.idea
*.ipr
*.iml
*.iws
quickstart/gradle/libs/
server_script/maven/
server_script/tmp/
.vscode
.DS_Store
out
bin/
.settings/
.project
.classpath
